<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Blog Posts</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container">
        <a class="navbar-brand small fw-semibold" href="#">SparrowKnight Blog App</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link small" href="/dashboard">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="/post">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="/comments">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- CONTENT -->
<div class="container mt-3">

    <h5 class="mb-2 fw-semibold">List Blog Posts</h5>

    <!-- Search -->
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th style="width:5%">S.No.</th>
                    <th>Post Title</th>
                    <th>Post Short Description</th>
                    <th style="width:15%">Post Created On</th>
                    <th style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post, stat: ${posts}">
                    <td th:text="${stat.count}">1</td>
                    <td th:text="${post.title}" />
                    <td th:text="${post.description}" />
                    <td th:text="${#temporals.format(post.createdDate, 'dd MMM yyyy')}" />
                    <td>
                        <a th:href="@{/editPost/{id}(id=${post.postId})}" class="btn btn-primary btn-sm">Edit</a>
                        <a th:href="@{/deletePost/{id}(id=${post.postId})}" class="btn btn-danger btn-sm">Delete</a>
                        

                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>
