<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header text-center fw-semibold">
                    Registration
                </div>

                <div class="card-body p-3">
                
                <p th:text="${successMsg}" class="text-success" />
                <p th:text="${errMsg}" class="text-danger"/>

                    <form th:action="@{/register}" th:object="${signupForm}" method="post">

                        <div class="mb-2">
                            <label class="form-label small">First Name</label>
                            <input type="text" class="form-control form-control-sm"
                                   th:field="*{fName}"placeholder="Enter first name">
                        </div>

                        <div class="mb-2">
                            <label class="form-label small">Last Name</label>
                            <input type="text" class="form-control form-control-sm"
                                   th:field="*{lName}" placeholder="Enter last name">
                        </div>

                        <div class="mb-2">
                            <label class="form-label small">Email-Id</label>
                            <input type="email" class="form-control form-control-sm"
                                   th:field="*{email}"placeholder="Enter email address">
                        </div>

                        <div class="mb-3">
                            <label class="form-label small">Password</label>
                            <input type="password" class="form-control form-control-sm"
                                   th:field="*{pwd}" placeholder="Enter password">
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <button type="submit" class="btn btn-primary btn-sm">
                                Register
                            </button>

                            <span class="small">
                                Already registered?
                                <a href="/login" class="text-primary text-decoration-none">
                                    Login Here
                                </a>
                            </span>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
